<div class="header-container">
    <div class="fixed-div">

    </div>
    <div class="side-menu-btn-div">
        <button class="side-menu-btn"><i class="fas fa-bars"></i></button>
    </div>
    <div class="logo-div">
        <a class="logo-link" href="/"><i class="fab fa-youtube youtube-icon"></i><span class="youtube-brand">Youtube</span><small>TR</small></a>
    </div>
    <div class="searh-form-div d-none d-md-inline-flex">
        <form class="search-form" action="/" method="GET">
            <input class="search-input" type="text" placeholder="Ara" name="video">
            <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="icon-div">
        <button><i class="fas fa-microphone"></i></button>
        <button class="user-info-btn"><i class="fas fa-th"></i></button>
        <div class="user-div">
             <ul>
                <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> Youtube Kids</a></li>
                <li><a href="/youtube/tv"><i class="fab fa-youtube drop-down-icon"></i>Youtube Tv</a></li>
                <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> Youtube Music</a></li>
                 <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> İçerik üretici akedemisi</a></li>
                 <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> sanatçılar için youtube</a></li>
             </ul>   
        </div>
    </div>
    <% if (loggedIn) { %>
        <div class="login-div">
            <a class="logout-btn" href="/user/logout"><i class="fas fa-user-circle"></i>Oturumu Kapat</a>
        </div>
    <% } else {%>
        <div class="login-div">
            <a class="login-btn" href="/user/login"><i class="fas fa-user-circle"></i>Oturum Aç</a>
        </div>
        <% } %> 
    <div class="side-menu-close d-none d-lg-block">
        <div class="side-menu-div">
            <a href="/"><i class="fas fa-home side-icon"></i><small>Ana Sayfa</small></a>
        </div>
        <div class="side-menu-div">
           <a href="/trending"><i class="fas fa-fire side-icon"></i></i><small>Trendler</small></a>
        </div>
        <div class="side-menu-div">
           <a href="/subscriptions"><i class="fas fa-photo-video side-icon"></i><small>Abonelikler</small></a>
        </div>
        <div class="side-menu-div">
           <a href="/library"><i class="fas fa-book side-icon"></i><small>Kitaplık</small></a>
        </div>
        <div class="side-menu-div">
           <a href="/history"><i class="fas fa-history side-icon"></i><small>Geçmiş</small></a>
        </div>
        <% if (loggedIn) { %>
            <div class="side-menu-div">
               <a href="/user/profile"><i class="fas fa-user side-icon"></i><small>Profile</small></a>
            </div>
        <% } %>
        <div class="side-menu-login-div">
            <div class="side-menu-login-text-div">
            <p>Videoları beğenmek, yorum yapmak ve abone olmak için oturum açın.</p>
            <div class="login-div">
        <a class="login-btn" href="/user/login"><i class="fas fa-user-circle"></i>Oturum Aç</a>
            </div>
            </div>
        </div>
        <div class="side-menu-login-div">
            <div class="side-menu-login-text-div">
                <div class="side-menu-ul">

                    <ul>
                        <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> Youtube Kids</a></li>
                        <li><a href="/youtube/tv"><i class="fab fa-youtube drop-down-icon"></i>Youtube Tv</a></li>
                        <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> Youtube Music</a></li>
                        <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> İçerik üretici akedemisi</a></li>
                        <li><a href="/youtube/kids"><i class="fab fa-youtube drop-down-icon"></i> sanatçılar için youtube</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var sideMenuBtn = document.querySelector(".side-menu-btn-div");
    var sideMenuButton = document.querySelector(".side-menu-btn");
    var sideMenu = document.querySelector(".side-menu-close");
    var sideMenuDiv = document.querySelectorAll(".side-menu-div");
    var sideMenuLoginDiv = document.querySelectorAll(".side-menu-login-div");
    var userInfoBtn = document.querySelector(".user-info-btn");
    var userInfoDiv = document.querySelector(".user-div");
    var fixedDiv = document.querySelector(".fixed-div");
    sideMenuBtn.addEventListener("click",function() {
        sideMenuButton.classList.toggle("button-rotate")
        sideMenu.classList.toggle("side-menu-open");
        fixedDiv.classList.toggle("fixed-div-show");
        sideMenuLoginDiv.forEach(menu => {
           menu.classList.toggle("side-menu-login-open-div");
        });
        sideMenuDiv.forEach(div=> {
            div.classList.toggle("side-menu-div-open")
        })
    });
    userInfoBtn.addEventListener("click",()=> {
        userInfoDiv.classList.toggle("user-div-show")
    })
</script>