<%if (typeof errorMessage != "undefined") {%> <% errorMessage.forEach(error => {
    %> 
    <div id="success-alert" class="alert alert-success alert-dismissible fade show text-center message-alert" role="alert">
          <p><%= error.msg %> </p>
          <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% }) %> <%}%>