body,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #202020 !important;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box !important;
}

.header-container {
  width: 100%;
  background-color: #181818;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.side-menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 90px;
}
.side-menu-div.side-menu-div-open > a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  height: auto;
}
.side-menu-login-div {
  display: none;
  color: white;
  width: 100%;
  text-align: left;
  border-top: 3px solid grey;
}
.side-menu-login-div.side-menu-login-open-div {
  display: block;
  padding: 20px 0;
}
.side-menu-login-text-div {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.side-menu-login-text-div > .login-div {
  margin: auto;
}
.side-menu-btn {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  transition: all 0.4s ease-in-out;
}
.button-rotate {
  transform: rotate(90deg);
}
.side-menu-close {
  width: 80px;
  background-color: #181818;
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
}
.side-menu-close.d-none.d-lg-block.side-menu-open {
  width: 300px;
  display: block !important;
  overflow-y: auto;
}
.side-menu-close.d-none.d-lg-block.side-menu-open > .side-menu-div-open {
  height: 50px;
}
.side-menu-div,
.side-menu-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}
.side-menu-div:hover {
  background-color: #323232;
}
.side-menu-div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.side-menu-div > a:hover {
  text-decoration: none;
  color: white;
}
.logo-div {
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.logo-link > small {
  position: absolute !important;
  top: 5px;
  right: -5px;
  font-size: 10px;
}
.logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.logo-link:hover {
  text-decoration: none;
  color: white;
}
.youtube-brand {
  font-size: 20px;
  font-weight: 600;
}
.youtube-icon {
  color: red;
  font-size: 40px;
}
.searh-form-div {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
}
.icon-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  position: relative;
}
.user-div {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -280px;
  right: -140px;
  background-color: #202020;
  display: none;
  padding: 20px 0px;
  box-sizing: border-box;
}
.user-div.user-div-show {
  position: absolute;
  width: 200px;
  height: 242px;
  bottom: -227px;
  right: -170px;
  background-color: #202020;
  display: block;
  box-sizing: border-box;
  z-index: 0;
  padding: 0;
}
.user-div-show > ul > li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid grey;
}
.user-div-show > ul > li:first-of-type {
  border-top: 1px solid grey;
}
.user-div-show > ul > li:hover {
  background-color: #323232;
}
.user-div-show > ul > li > a {
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 5px;
  text-transform: capitalize;
}
.drop-down-icon {
  margin-right: 20px;
}
.user-div-show > ul > li > a:hover {
  text-decoration: none;
}
.icon-div > button {
  background-color: #181818;
  color: white;
  border: none;
  outline: none;
  font-size: 25px;
}
.icon-div > button:focus {
  outline: none;
  border: none;
}
.side-menu-btn-div > button {
  font-size: 25px;
}
.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.search-input {
  width: 330px;
  border: none;
  outline: none;
  padding: 5px 10px 5px 10px;
  background-color: #202020;
  color: white;
}
.search-btn {
  width: 70px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #323232;
  color: #6f6f6f;
}

.login-div {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-btn {
  border: 3px solid #3ca2fa;
  display: flex;
  padding: 8px;
  border-radius: 4px;
  color: #3ca2fa;
  font-weight: 600;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.login-btn:hover {
  color: #3ca2fa;
  text-decoration: none;
}
.logout-btn {
  border: 3px solid #3ca2fa;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  color: #3ca2fa;
  font-weight: 600;
  font-size: 15px;
}
.logout-btn:hover {
  color: #3ca2fa;
  text-decoration: none;
}
.home-container {
  margin: 70px auto 0 auto;
  z-index: 0;
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}
.border {
  border-bottom: 1px solid grey;
  width: 100%;
}
.register-container,
.login-container {
  margin-top: 70px;
  background-color: #202020;
}
.register-inner,
.login-inner {
  background-color: #181818;
}

.user-div-show > ul > li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid grey;
}
.side-menu-ul {
  text-align: left;
}
.side-menu-ul > ul {
  list-style: none;
}
.side-menu-ul > ul > li {
  list-style: none;
  color: white;
  background-color: #181818;
  padding: 10px 0 10px 0;
  font-size: 15px;
}
.side-menu-ul > ul > li > a {
  text-decoration: none;
  color: white;
}
.side-menu-ul > ul > li > a:hover {
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.fixed-div {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 2);
  opacity: 0.5;
  display: none;
  z-index: 100;
}
.fixed-div.fixed-div-show {
  display: block;
}
.side-menu-btn,
.logo-div,
.user-info-btn,
.side-menu-close,
.side-menu-close.side-menu-open,
.login-div,
.icon-div {
  z-index: 9999;
}

.video-selection-container {
  position: relative;
  max-width: 275px;
  height: 200px;
  width: 100%;
  display: inline-block;
  margin: 10px 10px;
  border: 3px solid #2c2b2b;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}
.video-selection-container:hover {
  border: 3px solid white;
}
.video-flex-div {
  height: 65%;
  width: 100%;
}
.video-link-wrapper {
  height: 100%;
  width: 100%;
}
.video-container-div {
  width: 100%;
  height: 100%;
  position: relative;
}
.video-container-div:hover {
  cursor: pointer;
}
.video-container-div:hover .video-delete-btn {
  display: block !important;
}
.video-container-div > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-header {
  width: 100%;
  padding: 20px;
  /* background-position: 0% 0%;
  background-size: 100% 100%; */
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.profile-info-div {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 5px;
  font-weight: 600;
}
.profile-info-div-public {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 5px;
  font-weight: 600;
}
.public-user-name {
  text-transform: capitalize;
}
.profile-img-div {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img-div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-user-img-div {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.video-user-img-div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-info-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.video-user-link-div > a {
  color: white;
  margin-left: 20px;
}
.video-user-link-div > a:hover {
  color: white;
}
.description-wrapper-div > h5 {
  width: 100%;
  border-bottom: 3px solid #323232;
  padding: 5px 0;
}
.img-form-file,
.btn-sm {
  font-size: 12px !important;
}
.bgimage-form-btn:hover {
  cursor: pointer;
  background: #3ca2fa;
  color: #181818;
  border-color: #181818;
}
.image-form-btn:hover {
  cursor: pointer;
  background: #3ca2fa;
  color: #181818;
  border-color: #181818;
}
.video-form-btn-custom {
  width: 90px;
  padding: 5px;
  border: 3px solid #3ca2fa;
  color: #3ca2fa;
  font-size: 10px;
  background: #181818;
  font-weight: 600;
  text-align: center;
}
.video-form-btn-custom:focus {
  outline: none !important;
}
.image-form-btn {
  width: 90px;
  padding: 5px;
  border: 3px solid #3ca2fa;
  color: #3ca2fa;
  font-size: 10px;
  background: #181818;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.bgimage-form-btn {
  width: 90px;
  padding: 5px;
  border: 3px solid #3ca2fa;
  color: #3ca2fa;
  font-size: 11px;
  background: #181818;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.bg-image-form {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.profile-img-form {
  display: flex !important;
  flex-direction: column !important;
}
.profile-video-container {
  width: 300px;
  height: 300px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.video-wrapper-container {
  width: 100%;
}
.video-wrapper-container > video {
  width: 100%;
}

.video-page-container {
  margin-top: 70px;
  min-height: 200vh;
}
.video-wrapper-div {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  font-family: "Roboto", sans-serif;
}
.video-wrapper-div > a {
  width: 100%;
}
.video-div {
  width: 100%;
}
.video-div > video {
  width: 100%;
}
.video-link-div {
  text-align: left;
  font-weight: 600;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  font-size: 14px;
}
.video-name-link {
  font-size: 16px;
}
.video-link-div > a,
small {
  color: white;
  display: inline !important;
}
.video-link-div > a:hover {
  color: white;
  text-decoration: underline;
}
.video-text-div > a {
  color: white;
}
.video-text-div > a:hover {
  color: white;
}
.title-div {
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid grey;
  padding: 15px;
}
.video-send-div-top {
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid grey;
  padding: 15px;
}
.video-send-form {
  width: 70%;
  margin: auto;
}

.video-selection-container-video-page {
  max-width: 288px;
  height: 135px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  border: 3px solid #2c2b2b;
  box-sizing: border-box;
  border-radius: 4px;
}
.video-flex-div-video-page {
  height: 100%;
  width: 50%;
  display: inline-block;
}
.video-link-div-video-page {
  width: 50%;
  font-size: 12px;
  text-align: left;
  font-weight: 600;
  padding: 8px;
  display: inline-block;
}
.video-link-div-video-page > a,
small {
  color: white;
}
.video-link-div-video-page > a:hover {
  color: white;
  text-decoration: underline;
}
.video-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: none !important;
}
.video-delete-btn > i {
  font-size: 18px;
}
.form-button-custom,
.video-upload-button-custom {
  width: 90px;
  padding: 5px;
  border: 3px solid #3ca2fa;
  color: #3ca2fa;
  font-size: 15px;
  background: #181818;
  font-weight: 600;
}
.description-wrapper-div,
.video-text-div,
.comment-div,
.collapse,
.comment-button-wrapper {
  padding: 10px;
  width: 100%;
}
.video-text-div {
  position: relative;
}
.library-add-form {
  position: absolute;
  top: 40%;
  right: 0;
}
.subscription-add-form {
  position: absolute;
  bottom: 0;
  right: 0;
}
.video-underline {
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #323232;
}
.comment-container {
  border: 1px solid #323232;
}
.comment-btn-custom {
  width: 100%;
  padding: 5px;
  border: 3px solid #3ca2fa;
  color: #3ca2fa;
  font-size: 15px;
  background: #181818;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.comment-btn-custom:hover {
  cursor: pointer;
  background: #3ca2fa;
  color: #181818;
  border-color: #181818;
}
.comment-btn-custom:focus {
  outline: none !important;
}
.search-row {
  padding: 15px;
  width: 100%;
  border-bottom: 3px solid #323232;
}
.video-search-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
}
.video-search-link-wrapper > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-search-container-div {
  width: 35%;
  height: 100%;
  border: 3px solid #2c2b2b;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.video-search-container-div:hover {
  border-color: #ffffff;
}

.video-search-container-div > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-search-link-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}
.video-search-link-div > a {
  color: white;
}
.video-search-link-div > a:hover {
  color: white;
}
.video-search-name-link {
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .video-selection-container,
  .video-selection-container-video-page {
    margin: 15px auto;
  }
}
.side-menu-div.side-menu-div-open > a > .side-icon {
  position: absolute;
  left: 75px;
}

.trending-container,
.subscriptions-container {
  margin: 70px auto 0 auto;
  z-index: 0;
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}
.trends-top-wrapper {
  border-width: thin;
  border-bottom-style: solid;
  border-color: grey;
  width: 100%;
}
.trends-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  padding: 15px;
}
.title-element > .img-div {
  border-radius: 50%;
  overflow: hidden;
}
.trends-title-div > .title-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.trends-text-div {
  color: white;
}
.subscriptions-info-div {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: white;
}
.subscriptions-icon {
  font-size: 50px;
}
.subscriptions-login-btn {
  border: 3px solid #3ca2fa;
  padding: 8px;
  border-radius: 4px;
  color: #3ca2fa;
  font-weight: 600;
  width: 150px;
  text-align: center;
}
.subscriptions-login-btn:hover {
  color: #3ca2fa;
  text-decoration: none;
}
.library-add-button {
  border: 3px solid #3ca2fa;
  padding: 8px;
  border-radius: 4px;
  color: #3ca2fa;
  font-weight: 600;
  text-align: center;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.library-add-button:hover {
  background: #3ca2fa;
  border-color: #181818;
  color: #202020;
}
.library-info-div {
  width: 100%;
  padding: 15px;
}
.library-title-div {
  padding: 15px;
  text-align: center;
  color: white;
  border-bottom: 1px solid grey;
  width: 100%;
}
.message-alert {
  text-transform: capitalize;
}
.message-alert > button {
  position: absolute;
  top: -8px !important;
  right: 0 !important;
}
.subscriptions-wrapper-div {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
  text-align: center;
  margin: 20px 10px 20px 10px;
}
.subscriptions-img-div {
  width: 100%;
  height: 80%;
}
.subscriptions-img-div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscriptions-link-div > a {
  color: white;
}
.subscriptions-link-div > a:hover {
  color: white;
}
.subscriptions-wrapper-div:hover .video-delete-btn {
  display: block !important;
}
.kids-container {
  background-color: white;
  width: 100%;
  margin: 70px auto 0 auto;
  padding: 150px 40px 40px 40px;
}
.kids-container-inner {
  background-color: white;
}
.kids-logo-div {
  width: 400px;
  height: 100px;
}
.kids-login-div > img {
  width: 100%;
  height: 100%;
}
.kids-text-div > small {
  color: #181818;
}
.kids-left-logo {
  width: 100%;
}
.kids-icon-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.kids-left-logo > img {
  width: 100%;
  height: 100%;
}
.kids-left-icon,
.kids-right-icon {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 80px;
  padding: 10px;
}
.kids-left-icon > img {
  width: 100%;
  height: 100%;
}
.kids-right-icon > img {
  width: 100%;
  height: 100%;
}
.tv-container {
  background-color: white;
  width: 100%;
  margin: 70px auto 0 auto;
}
.tv-logo-div {
  width: 200px;
  height: 50px;
}
.tv-logo-div > svg {
  width: 100%;
  height: 100%;
}
.tv-nav-ul {
  background-color: #ffffff !important;
  margin: 0;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tv-nav-ul > li {
  background-color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
.tv-nav-ul > li > a {
  color: #949494;
  font-weight: 600;
  transition:all .5s ease-in-out;
}
.tv-nav-ul > li > a:hover {
  color: black;
  text-decoration: none;
}
.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.tv-hero-container {
  height: 400px;
  background: url("../images/special.jpg");
  background-size: cover;
  background-position: center center;
background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
.tv-text-container {
  padding: 40px;
  width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}
@media screen and (max-width: 699px) {
  .kids-container-inner {
    text-align: center;
  }
  .kids-icon-div {
    margin: 15px auto;
  }
}

/* custom scroolbar */
/* width */
.side-menu-open::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.side-menu-open::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.side-menu-open::-webkit-scrollbar-thumb {
  background: #adabab;
  border-radius: 10px;
}

/* Handle on hover */
.side-menu-open::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}
.collapse.show {
  width: 100% !important;
  display: inline-block !important;
}
.comment-send-btn {
  border: 3px solid #3ca2fa;
    padding: 8px;
    border-radius: 4px;
    color: #3ca2fa;
    font-weight: 600;
    text-align: center;
    background: transparent;
    transition: all 0.5s ease-in-out;
}
.comment-send-btn:hover {
  background: #3ca2fa;
  border-color: #181818;
  color: #202020;
}