<div class="home-container">
  <% if (videoQuery != '' && videoQuery != undefined){ %>
    <div class="row title-div">
      <h3>Arama Sonuçları... <%=videoQuery.length%> </h3>
    </div>
    <% } else if(videoQuery == ''){%>
      <div class="row title-div">
        <h3>Sonuç Bulunamadı... Senin için Önerilenler Gösteriliyor...</h3>
      </div>
    <% } else {%>
      <div class="row title-div">
        <h3>Senin için Önerilenler</h3>
      </div>
    <% } %>
  <div class="row">
    <% if (videoQuery != '' && videoQuery != undefined){ %>
      <% videoQuery.forEach(videos => { %>
        <div class="row search-row">
          <div class="video-search-div">
            <div class="video-search-container-div">
            <a class="video-search-link-wrapper" href="/video/<%=videos.videoName%>">
                <video src="<%=videos.video%> "></video>
            </a>
        </div>
            <div class="video-search-link-div">
              <a class="video-search-name-link" href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a>
              <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
            <small>Category: <%=videos.category%></small>
          </div>
          </div>
        </div>
       <% }) %>
      <% } else {%>
        <% user.forEach(videos => { %>
          <div class="video-selection-container">
            <div class="video-flex-div">
              <a class="video-link-wrapper" href="/video/<%=videos.videoName%>">
              <div class="video-container-div">
                <video src="<%=videos.video%> "></video>
              </div>
            </a>
          </div>
          <div class="video-link-div">
              <a class="video-name-link" href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a>
              <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
            <small>Category: <%=videos.category%></small>
          </div>
        </div>
        <% }) %>
        <% } %> 
  </div>
</div>
