<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/style.css" />
    <link rel="stylesheet" href="../public/bootstrap-4/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="../public/jquery/jquery-3.5.1.min.js"></script>
    <script src="../public/bootstrap-4/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/fbdd35d74e.js" crossorigin="anonymous"></script>
    <title>Youtube || Clone</title>
  </head>
  <body>
    <%-include('./partials/header')%>
    <%-body%>
  </body>
  <script src="../public/js/app.js"></script>
</html>
