<div class="subscriptions-container">
    <div class="row">
        <% if (loggedIn) { %>
            <h2>History Coming Soon...</h2>
        <% } else {%>
            <div class="subscriptions-info-div">
                <h2>History</h2>
                <i class="fas fa-history subscriptions-icon"></i>
                <h2>İzlediklerinizin takibini yapın</h2>
                <a class="subscriptions-login-btn" href="/user/login"><i class="fas fa-user-circle"></i>Oturum Aç</a>
            </div>
        <% } %> 
    </div>
</div>