<div class="subscriptions-container">
    <div class="row">
        <% if (loggedIn) { %>
            <div class="library-info-div">
              <div class="library-title-div">
                <h2>Library</h2>
              </div>
              <% if (user.length <=0) { %>
                <p class="text-center text-white">Not Yet Available Library Item...</p>
               <% } %>
                <% user.forEach(videos => { %>
                    <div class="video-selection-container">
                        <div class="video-flex-div">
                          <a class="video-link-wrapper" href="/video/<%=videos.videoName%>">
                          <div class="video-container-div">
                            <a data-toggle="tooltip" data-placement="bottom" title="Remove Library" class="btn btn-sm btn-danger video-delete-btn" href="/library/delete/<%=videos.videoId%>"><i class="fas fa-trash-alt"></i></a>
                            <video src="<%=videos.video%> "></video>
                          </div>
                        </a>
                      </div>
                      <div class="video-link-div">
                          <a class="video-name-link" href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a>
                          <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
                        <small>Category: <%=videos.category%></small>
                      </div>
                    </div>
               <% }) %>
            </div>
        <% } else {%>
            <div class="subscriptions-info-div">
                <h2>Library</h2>
                <i class="fas fa-book subscriptions-icon"></i>
                <p>Favori videolarınızın keyfini çıkarın Beğendiğiniz veya kaydettiğiniz videolara erişmek için oturum açın</p>
                <a class="subscriptions-login-btn" href="/user/login"><i class="fas fa-user-circle"></i>Oturum Aç</a>
            </div>
        <% } %> 
    </div>
</div>