<div class="container text-light login-container">
    <% if (flashMessage != undefined) { %>
        <div id="success-alert" class="alert alert-success alert-dismissible fade show text-center message-alert" role="alert">
          <p><%= flashMessage.content %> </p>
          <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
    <div class="row">
        <div class="col-md-6 d-block mx-auto p-5 login-inner">
            <div class="register-header">
                <h1>Giriş Yap</h1>
            </div>
            <form method="POST" action="/user/login" class="mt-5">
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" name="email" class="form-control" id="email" value="<%= typeof email != 'undefined' ? email : '' %>" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" <%= typeof password != 'undefined' ? password : '' %> >
                </div>
                <button type="submit" class="btn btn-danger d-block mx-auto">Giriş</button>
                <small class="form-text text-muted d-inline">Hesabınız yoksa kayıt için</small>
                <a type="submit" href="/user/register" class="text-light font-weight-bold">Register</a>
            </form>
        </div>
    </div>
</div>
