<div class="container home-container">
    <div class="row">
      <% user.forEach(userPicture => { %>
       <div class="profile-header" style="background-image: url(<%= userPicture.profileBgImg%>)">
         <div class="profile-info-div">
           <div class="profile-img-div">
              <img src="<%=userPicture.profileImg%>" class="profile-img" alt="profile-img">
            </div>
            <% if (loggedIn) { %>
              <p><%=userName.user.nick%></p>
              <% } %>
            <form class="mt-2 profile-img-form" method="post" action="/user/profile/image" enctype="multipart/form-data">
              <input id="image" class="d-none" type="file" name="profileImage" required/>
              <label for="image" class="image-form-btn">Fotoğraf Seçin+</label>
              <button class="form-button-custom" type="submit">Gönder</button>
            </form>
          </div>
          <form class="bg-image-form" method="post" action="/user/profile/bgimage" enctype="multipart/form-data">
            <input id="bg-image" class="d-none" type="file" name="profileBgImage" required/>
            <label class="bgimage-form-btn" for="bg-image">Kapak Seçin+</label>
            <button class="form-button-custom" type="submit">Gönder</button>
          </form>
        </div>
      </div>
      <div class="row">
        <% if (flashMessage != undefined) { %>
          <div id="success-alert" class="w-100 alert alert-success alert-dismissible fade show text-center" role="alert">
            <p><%= flashMessage.content %> </p>
            <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>
      </div>
      <div class="row title-div my-3">
        <h3>Video Yükle...</h3>
        <button class="video-form-btn-custom" type="button" data-toggle="collapse" data-target="#collapseVideoUpload">
          Video Yükle
        </button>
      </div>
      <div class="row video-send-div-top collapse" id="collapseVideoUpload">
        <form class="video-send-form" method="post" action="/user/profile" enctype="multipart/form-data">
          <div class="form-group">
            <input id="video" class="d-none" type="file" name="profileVideo" required/>
            <label for="video" class="image-form-btn">Video Seçin+</label>
          </div>
          <div class="form-group">
            <label for="video" class="">Video Başlığı Ekleyin</label>
            <input class="form-control img-form-file" type="text" name="videoName" required placeholder="Video Başlığı"/>
            <input value="<%=userPicture.profileImg%>" class="d-none form-control img-form-file" type="text" name="videoOwnPic" required/>
          </div>
          <div class="form-group">
            <label for="video" class="">Video Açıklaması Ekleyin</label>
            <textarea cols="50" rows="8" class="form-control img-form-file" type="text" name="videoDescription" required placeholder="Video Açıklaması"></textarea>
          </div>
          <div class="form-group">
            <label for="category" class="">Kategori Seçin</label>
            <select class="form-control" name="category" id="">
              <option value="eğlence">eğlence</option>
              <option value="spor">spor</option>
              <option value="siyaset">siyaset</option>
            </select>
          </div>
          <button class="video-upload-button-custom" type="submit">Yükle</button>
        </form>
      </div>
      <div class="row title-div my-3">
        <h3>Senin Videoların...</h3>
      </div>
      <div class="row">
        <% userPicture.profileVideo.forEach(videos => { %>
          <div class="video-selection-container">
            <div class="video-flex-div">
              <a class="video-link-wrapper" href="/video/<%=videos.videoName%>">
              <div class="video-container-div">
                <a data-toggle="tooltip" data-placement="bottom" title="Delete" class="btn btn-sm btn-danger video-delete-btn" href="/user/profile/delete/<%=videos.videoId%>"><i class="fas fa-trash-alt"></i></a>
                <video src="<%=videos.video%> "></video>
              </div>
            </a>
          </div>
          <div class="video-link-div">
          <a class="video-name-link" href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a>
          <a href="/user/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
          <small>Category: <%=videos.category%></small>
          </div>
        </div>
            <% }) %>
        </div>
        <% }) %>
  </div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
  $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
  });
</script>