<div class="container home-container">
    <div class="row">
       <div class="profile-header" style="background-image: url(<%= user.profileBgImg%>)">
         <div class="profile-info-div-public">
           <div class="profile-img-div">
              <img src="<%=user.profileImg%>" class="profile-img" alt="profile-img">
            </div>
              <p><%=user.nick%></p>
          </div>
        </div>
      </div>
      <div class="row title-div my-3">
        <h3 class="public-user-name"><%=user.nick%> kullanıcısının videoları...</h3>
      </div>
      <div class="row">
        <% user.profileVideo.forEach(videos => { %>
          <div class="video-selection-container">
            <div class="video-flex-div">
              <a class="video-link-wrapper" href="/video/<%=videos.videoName%>">
              <div class="video-container-div">
                <video src="<%=videos.video%> "></video>
              </div>
            </a>
          </div>
          <div class="video-link-div">
          <a class="video-name-link" href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a>
          <a href="/user/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
          <small>Category: <%=videos.category%></small>
          </div>
        </div>
            <% }) %>
        </div>
  </div>