<div class="subscriptions-container">
    <div class="row">
        <% if (loggedIn) { %>
            <div class="library-info-div">
                <div class="library-title-div">
                    <h2>Subscriptions</h2>
                </div>
                <% if (user.length <=0) { %>
                 <p class="text-center text-white">Not Yet Available Subscriptions User...</p>
                <% } %>
                  <% user.forEach(videos => { %>
                     <div class="subscriptions-wrapper-div">
                        <a data-toggle="tooltip" data-placement="bottom" title="Remove Subscription" class="btn btn-sm btn-danger video-delete-btn" href="/subscriptions/delete/<%=videos.postNick%>"><i class="fas fa-trash-alt"></i></a>
                        <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%>">
                         <div class="subscriptions-img-div">
                             <img src="<%=videos.videoOwnPic%> " alt="alt-pic">
                         </div>
                         <div class="subscriptions-link-div">
                            <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
                         </div>
                         </a>
                     </div>
                 <% }) %>
              </div>
        <% } else {%>
            <div class="subscriptions-info-div">
                <h2>Subscriptions</h2>
                <i class="fas fa-photo-video subscriptions-icon"></i>
                <p>Favori YouTube kanallarınızdan güncellemeleri görmek için oturum açın.</p>
                <a class="subscriptions-login-btn" href="/user/login"><i class="fas fa-user-circle"></i>Oturum Aç</a>
            </div>
        <% } %> 
    </div>
</div>