<div class="trending-container">
<div class="row">
    <div class="trends-top-wrapper">
        <div class="trends-title-div">
            <% data.forEach(data => { %>
                <div class="title-element">
                    <div class="img-div">
                        <img src="<%= data.img %> " alt="gaming">
                    </div>
                    <div class="trends-text-div">
                        <h5><%= data.title %> </h5>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</div>
    <% videos.forEach(videos => { %>
        <div class="row search-row">
          <div class="video-search-div">
            <div class="video-search-container-div">
            <a class="video-search-link-wrapper" href="/video/<%=videos.videoName%>">
                <video src="<%=videos.video%> "></video>
            </a>
        </div>
            <div class="video-search-link-div">
              <a class="video-search-name-link" href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a>
              <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a>
            <small>Category: <%=videos.category%></small>
          </div>
          </div>
        </div>
       <% }) %>
</div>