<h3>video page</h3>
<div class="container video-page-container">
    <div class="row">
        <div class="col-md-8">
            <% if (flashMessage != undefined) { %>
                <div id="success-alert" class="w-100 alert alert-success alert-dismissible fade show text-center message-alert" role="alert">
                  <p><%= flashMessage.content %> </p>
                  <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% } %>
              <% video.forEach(video => { %>
            <div class="video-wrapper-div">
                <div class="video-div">
                    <video src="<%=video.video%> " controls autoplay></video>
                </div>
                <div class="video-text-div">
                    <p><%= video.videoName.replace(/-/g, ' ')%></p>
                    <% if (loggedIn) { %>
                        <form  class="library-add-form " action="/video/<%=video.videoName%>/<%=video.videoId%>/library" method="POST">
                            <button class="library-add-button" type="submit">Daha Sonrası İçin Kaydet</button>
                        </form>
                        <form class="subscription-add-form" action="/video/<%=video.videoName%>/<%=video.videoId%>/subs" method="POST">
                            <button class="library-add-button" type="submit">Subs</button>
                        </form>
                    <% } %>
                    <h2 class="video-underline"></h2>
                    <div class="user-info-div">
                        <div class="video-user-img-div">
                            <img src="<%=video.videoOwnPic%>" alt="user-img"></img>
                        </div>
                        <div class="video-user-link-div">
                            <a href="/public/<%=video.postNick.replace(/\s/g,"-")%>"><%=video.postNick%></a>
                        </div>
                    </div>
                </div>
                <div class="description-wrapper-div">
                    <h5>Video Açıklaması:</h5>
                    <div class="description">
                        <p><%=video.videoDescription%></p>
                    </div>
                </div>
                <% if (loggedIn) { %>
                    <div class="comment-div w-100">
                    <form class="w-100" action="/video/<%=video.videoName%>/<%=video.videoId%>" method="post">
                        <label for="comment" class="">Yorum Ekle</label>
                        <textarea cols="50" rows="8" class="form-control" type="text" name="comment" required placeholder="Comment"></textarea>
                        <button class="comment-send-btn" type="submit">gönder</button>
                        </form>
                    </div>
                <% } %>
                <% resultComment.forEach(video => { %>
                    <% if (video.commentArray.length <= 0) { %>
                        <div class="comment-button-wrapper">
                            <small>Henüz yorum yapılmamış. İlk yorumu yapabilirsiniz...</small>
                        </div>
                    <% } else {%>
                        <div class="comment-button-wrapper">
                            <button class="comment-btn-custom" type="button" data-toggle="collapse" data-target="#commentList">
                                Yorumları Göster
                            </button>
                        </div>
                    <% } %> 
                <% }) %>    
                <div class="collapse mt-3" id="commentList">
                    <div class="bg-collapse p-3 card-t">
                        <% resultComment.forEach(video => { %>
                            <% video.commentArray.forEach(comment => { %>
                              <div class="comment-container p-2 mt-2">
                                <small>yorum sahibi:  </small><a class="user-link" href="/public/<%= comment.commentNick.replace(/\s/g ,"-")%>"><small><%= comment.commentNick %></small></a> 
                                <span class="date-time-container"><br>
                                  <small>Tarih: <%=comment.commentDate%>~~</small><small><%=comment.commentTime%></small>
                                </span><br>
                                <p><%= comment.comment %></p>
                              </div>
                            <% }) %>
                         
                        <% }) %>
                    </div>
                  </div>
            </div>
            <% }) %>
        </div>
        <div class="col-md-4">
            <% videoArray.forEach(videos => { %>
                <div class="video-selection-container-video-page">
                    <div class="video-flex-div-video-page">
                      <a class="video-link-wrapper" href="/video/<%=videos.videoName%>">
                      <div class="video-container-div">
                        <video src="<%=videos.video%>"></video>
                      </div>
                    </a>
                  </div>
                  <div class="video-link-div-video-page">
                      <a href="/video/<%=videos.videoName%>"><%=videos.videoName.replace(/-/g, ' ')%></a><br>
                      <a href="/public/<%=videos.postNick.replace(/\s/g ,"-")%> "><%=videos.postNick%></a><br>
                    <small>Category: <%=videos.category%></small>
                  </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>