<div class="tv-container">
    <div class="tv-container-inner container">
    <div class="row navbar-div">
            <div class="tv-logo-div">
                <svg class="ytv-logo ytv-logo--dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 462.4 85"><path class="ytv-logo__wordmark" d="M419.9 15.7H408V79h-11.7V15.7h-11.9V6h35.5v9.7zM422.5 6H435l3.9 32.8c1.1 9.4 2.1 17.5 3.3 28.6h.5c1.1-11.1 2.2-19 3.3-28.6L450 6h12.4l-12 72.9h-15.8L422.5 6z"></path><path d="M118.9 13.3C117.5 8 113.4 4 108.2 2.5 98.7 0 60.7 0 60.7 0s-38 0-47.5 2.5C8 3.9 3.9 8 2.5 13.3 0 22.8 0 42.5 0 42.5s0 19.8 2.5 29.2C4 77 8 81.1 13.3 82.5 22.7 85 60.7 85 60.7 85s38 0 47.5-2.5c5.2-1.4 9.3-5.5 10.8-10.7 2.5-9.5 2.5-29.2 2.5-29.2s-.1-19.8-2.6-29.3z" fill="red"></path><path fill="#fff" d="M48.6 60.7l31.6-18.2-31.6-18.2z"></path><path class="ytv-logo__wordmark" d="M176.3 77.4c-2.6-1.8-4.4-4.5-5.1-7.6-1.1-4.5-1.6-9-1.5-13.6v-7.7c-.1-4.7.5-9.3 1.8-13.8.9-3.1 2.8-5.8 5.4-7.6 2.9-1.7 6.3-2.5 9.7-2.4 3.9 0 7.1.8 9.5 2.4 2.5 1.9 4.4 4.5 5.2 7.6 1.2 4.5 1.8 9.1 1.6 13.8v7.7c.1 4.6-.4 9.2-1.6 13.7-.8 3.1-2.6 5.7-5.2 7.6-2.4 1.6-5.7 2.4-9.8 2.4-4.2-.1-7.6-.9-10-2.5zm13.5-8.4c.7-1.7 1-4.6 1-8.5V44c.1-2.8-.2-5.7-1-8.4-.4-1.6-1.9-2.7-3.5-2.7s-3 1.1-3.4 2.7c-.8 2.7-1.1 5.6-1 8.4v16.6c0 3.9.3 6.8 1 8.5.4 1.6 1.8 2.7 3.5 2.6 1.6 0 3-1.1 3.4-2.7zM360.9 56.3V59c0 2.6.1 5.1.3 7.7.1 1.3.5 2.6 1.3 3.7.8.8 1.9 1.3 3 1.2 1.5.1 3-.7 3.7-2.1.7-1.4 1-3.7 1.1-7l10.3.7c.1.6.1 1.3.1 1.9 0 4.9-1.3 8.6-4 11-2.7 2.4-6.5 3.6-11.4 3.6-5.9 0-10-1.9-12.4-5.6s-3.6-9.4-3.6-17.2v-9.3c0-8 1.2-13.8 3.7-17.5 2.5-3.7 6.7-5.5 12.6-5.5 4.1 0 7.3.8 9.5 2.3 2.3 1.7 4 4.2 4.7 7 1 4.3 1.5 8.8 1.3 13.2v9.1l-20.2.1zm1.5-22.4c-.7 1.1-1.2 2.4-1.2 3.7-.2 2.6-.3 5.2-.3 7.8v3.8h8.8v-3.8c0-2.6-.1-5.2-.4-7.8-.1-1.3-.5-2.6-1.3-3.7-.7-.8-1.8-1.2-2.8-1.1-1.1-.1-2.1.3-2.8 1.1zM147.1 55.3L133.5 6h11.9l4.8 22.3c1.2 5.5 2.1 10.2 2.7 14.1h.4c.4-2.8 1.3-7.4 2.7-14L161 6h11.9l-13.8 49.3V79h-11.9V55.3zM241.6 25.7V79h-9.4l-1-6.5h-.3c-2.5 4.9-6.4 7.4-11.5 7.4-3.5 0-6.1-1.2-7.8-3.5-1.7-2.3-2.5-5.9-2.5-10.9V25.7h12v39.1c-.1 1.7.2 3.5.8 5.1.5 1 1.5 1.6 2.6 1.5 1.1 0 2.1-.4 3-1 .9-.6 1.7-1.4 2.1-2.4V25.7h12zM303.1 25.7V79h-9.4l-1-6.5h-.3c-2.5 4.9-6.4 7.4-11.5 7.4-3.5 0-6.1-1.2-7.8-3.5-1.7-2.3-2.5-5.9-2.5-10.9V25.7h12v39.1c-.1 1.7.2 3.5.8 5.1.5 1 1.5 1.6 2.6 1.5 1.1 0 2.1-.4 3-1 .9-.6 1.7-1.4 2.1-2.4V25.7h12z"></path><path class="ytv-logo__wordmark" d="M274.2 15.7h-11.9V79h-11.7V15.7h-11.9V6h35.5v9.7zM342.8 34.2c-.7-3.3-1.9-5.8-3.5-7.3a9.78 9.78 0 0 0-6.7-2.3c-2.2 0-4.3.6-6.2 1.9-1.9 1.2-3.4 2.9-4.4 4.9h-.1V3.3h-11.5V79h9.9l1.2-5h.3c.9 1.8 2.4 3.3 4.2 4.3 1.9 1 4 1.6 6.2 1.6 3.8.1 7.4-2.1 9-5.6 1.9-3.7 2.9-9.6 2.9-17.5v-8.4c-.1-4.9-.5-9.6-1.3-14.2zm-11 21.7c0 3-.1 6.1-.5 9.1-.1 1.7-.7 3.3-1.6 4.7-.7.9-1.8 1.4-3 1.4-1 0-1.9-.2-2.7-.7-.8-.5-1.5-1.2-2-2.1V38.1c.4-1.4 1.1-2.6 2.1-3.6.8-.9 2-1.4 3.2-1.4 1.1 0 2.2.5 2.8 1.4.8 1.5 1.3 3.1 1.4 4.8.3 3.2.4 6.4.4 9.6l-.1 7z"></path></svg>
            </div>
            <ul class="tv-nav-ul">
                <li><a href="/">Channel</a></li>
                <li><a href="/">The Basics</a></li>
                <li><a href="/">Why Youtube Tv</a></li>
                <li><a href="/">Devices</a></li>
                <li><a href="/">FAQs</a></li>
            </ul>
    </div>
</div>
    <div class="tv-hero-container">
    </div>
    <div class="tv-text-container text-center">
        <h1>Watch live TV from 85+ channels</h1>
        <h5>
            Available in the U.S. nationwide. This lineup offers a sample of channels we offer. Please enter your home ZIP code below to see your area's lineup. Subject to availability.
        </h5>
        <div class="login-div">
            <a class="login-btn" href="/user/login"><i class="fas fa-user-circle"></i>Oturum Aç</a>
        </div>
    </div>
    </div>