<div class="kids-container">
<div class="kids-container-inner container">
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="kids-logo-div">
            <img class="img img-responsive" src="../../public/images/youtubekids.png" alt="kids">
        </div>
        <div class="kids-text-div">
            <h3>Keşfedeceğiniz, öğreneceğiniz ve eğleneceğiniz bir dünyaya adım atın.</h3><br><br>
            <p>Ailenizle birlikte sevdiğiniz programları izlemenin ve hayal gücünüzü geliştirmenin yeni adresi YouTube Kids. Ücretsiz, kullanımı kolay ve aile dostu videolarla dolu.</p><br>
            <small>YouTube Kids. Meraklı küçük zihinlere özel.</small>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="kids-left-logo">
            <img class="img img-responsive" src="../../public/images/youtubekidsbig.jpg" alt="kids">
        </div>
    </div>
</div>
<div class="row">
    <div class="kids-icon-div">
        <div class="kids-left-icon">
            <img src="../../public/images/googleplay.png" alt="google">
        </div>
        <div class="kids-right-icon">
            <img src="../../public/images/apple.svg" alt="apple">
        </div>
    </div>
</div>
<div class="row my-3 text-center">
<p>www.youtubekids.com adresine giderek YouTube Kids'in web sürümünü de kullanabilirsiniz.</p>
<p>Ebeveyn kontrollerini ayarlama da dahil olmak üzere YouTube Kids hakkında daha fazla bilgi için Ebeveyn Rehberimizegöz atın.</p>
</div>
</div>
</div>